body {
  margin: 0;
  padding: 0;
  //background-image: url(https://media.giphy.com/media/4SgI90qdgYSxG/giphy.gif);
  //background-image: url(https://i.imgur.com/2mHCpyK.gif);
  //background-image: url(back1.gif);
  background-size: cover;
}

.island {
  background-color: rgb(51,51,51);
  margin: 50px 300px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: -4px 4px black;
  padding: 1px 50px;
  height: 960px;
}

.header {
  margin: 40px auto;
  color: pink;
  font-size: 130%;
}

.detailing, #endScore {
  margin: 10px auto;
  color: white;
  font-size: 130%;
}

#answers {
  text-align: left;
  color: white;
  font-size: 70%;
  margin: 50px auto;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
  visibility: hidden;
}

.questionInfo {
  text-align: center;
  padding: 0px 50px;
  margin-top: 40px;
  color: white;
  font-size: 230%
}

.button {
  position: sticky;
  color: yellow;
  border: none;
  height: 45px;
  width: 80px;
  background-image: url(button.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: -1px 1px black;
  filter: grayscale(100%);
  transition: all 0.5s;
  border-radius: 7px;
  outline: none;
}

.button:hover {
  filter: grayscale(0%);
}

.inQuestion {
  display: block;
}

#end {
  color: white;
  font-size: 130%;
  text-shadow: -3px 3px black;
}
