body {
  height: 90vh;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.island {
  background-color: rgb(51,51,51);
  margin: 50px 300px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: -4px 4px black;
  padding: 1px 50px;
  height: inherit;
  min-width: 30%;
}

.header {
  margin: 3vh auto;
  color: pink;
  font-size: 130%;
}

#question {
  font-size: 3vh;
}

#questionsAnswered {
  margin: 0.1vh auto;
}

.detailing, #intro {
  margin: 0.1vh auto;
  color: white;
  font-size: 130%;
}

#answers {
  text-align: left;
  color: white;
  font-size: 70%;
  margin: 50px auto;
}

.questionInfo {
  text-align: center;
  padding: 0px 50px;
  margin-top: 40px;
  color: white;
  font-size: 230%
}

.button {
  position: sticky;
  margin: 50px auto;
  color: yellow;
  border: none;
  height: 45px;
  width: 80px;
  top: 90%;
  background-image: url(button.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: -1px 1px black;
  filter: grayscale(100%);
  transition: all 0.5s;
  border-radius: 7px;
  outline: none;
}

.button:hover {
  filter: grayscale(0%);
}

#introButton {
  position: sticky;
  margin: 50px auto;
  top: 75%;
}

.inQuestion {
  display: none;
}

#intro, #high-scores {
  margin-top: 10vh;
  transition: all 2s;
  color: white;
  font-size: 130%;
  text-shadow: -3px 3px black;
  text-align: left;
}

#end {
  margin-top: 10vh;
  font-size: 2vh;
  text-align: left;
}
